
@{
    ViewBag.Title = "LoginForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = "";
    var password = "";
    if (ViewBag.login != null)
    {
        username = ViewBag.login.AccountName;
        password = ViewBag.login.AccountPass;
    }
}

<div class="container">
    <div class="col-lg-8 col-lg-offset-2 form-horizontal col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="form-group">
            <div class="col-lg-6 col-lg-offset-2">
                <h2>Login Form</h2>
            </div>
        </div>

        @using (Html.BeginForm("CheckAccount", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2">UserName</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input id="name" class="form-control" name="txtUserName" placeholder="Input name" type="text" value="@username" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 col-md-2 col-sm-2">Password</label>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input id="pass" class="form-control" name="txtPassword" placeholder="Input password" type="password" value="@password" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-4">
                    <input type="checkbox" class="check-box" name="rm" />
                    <label style="font-size:16px">Remember login</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-offset-2 col-sm-2 col-xs-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-lg-2 col-lg-offset-1 col-sm-offset-5  col-sm-offset-1 col-xs-2 col-xs-offset-2" style="margin-top:8px">
                    <a href="@Url.Action("Registration","Account")" class="badge badge-primary">Registration</a>
                </div>
            </div>
        }
    </div>
</div>


